<nav  style="padding-bottom: 0;" class="navbar  navbar navbar-expand-lg navbar-light bg-light sticky-header">

	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngClass]="{ 'show': isCollapsed }">

    <a class="navbar-brand mt-2 mt-lg-0 d-none d-lg-block" href="#">
        <img src="./assets/logo.png" height="60" style="margin-left: 25%;" alt="razr Logo" loading="lazy" />
    </a>

    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
		    <a class="nav-link " href="/">Home <span class="sr-only">(current)</span></a>        
      </li>
      <li class="nav-item">
        <a class="nav-link"  >Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  >Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  >About</a>
      </li>
    </ul>

    <div style="margin-right: 1.5%;" class="d-flex align-items-center float-right ms-auto ">
        <a class="text-reset me-3" routerLink="/cart">
          <i class="fas fa-shopping-cart"> {{ productCount == 0 ?'': '  '+ productCount  }}</i>
        </a>
    </div>


  </div>
</nav>